<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.med11">

    //retrofit related
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:usesCleartextTraffic="true"


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Med11">
        <activity
            android:name=".AcceuilAssistant.AssistantTabView.Assistant_patient_view"
            android:exported="true" />

        <activity
            android:name=".AcceuilAssistant.patients_list.Acceuil_Assistant"
            android:exported="true" />
        <activity
            android:name=".signUp_patient"
            android:exported="true" />
        <activity
            android:name=".AcceuilPatient.Acceuil_patient"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            //No action bar
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>